---
import GlobalLayout from "../layouts/GlobalLayout.astro";
import ServiceCard from "../components/ServiceCard.astro";
import ShopkeeperCTA from "../components/ShopkeeperCTA.astro";
import ServicesSection from "../components/ServicesSection.astro";
import BentoSection from "../components/BentoSection.astro";
import CustomerCTA from "../components/CustomerCTA.astro";


---

<GlobalLayout>
	<!-- <p class="bg-red-500">index page</p> -->
	<!-- Hero Section replaced with a single image -->
	<section class="relative w-full h-[75vh] min-h-[400px] flex items-center overflow-hidden p-0">
		<div class="absolute z-10 flex flex-col justify-center items-start h-full -top-32 sm:left-15 left-0">
			<h1 class="font-[Noto_Serif_Display] text-[#204040] text-4xl md:text-3xl leading-tight text-left">
				Buy from your<br />Loved Local Shops
			</h1>
		</div>
		<img src="/assets/heroimage.png" alt="Shopper and storefront hero" class="w-full h-full object-cover" />
	</section>

	<ServicesSection />

	

	<style>
	@keyframes scroll-horizontal {
		0% { transform: translateX(0); }
		100% { transform: translateX(-50%); }
	}
	.animate-scroll-horizontal {
		width: max-content;
	}
	</style>

	<ShopkeeperCTA />
	<BentoSection />
	<CustomerCTA />

</GlobalLayout>