---
import CategoryItem from './CategoryItem.astro';
---

<section class="bg-white py-12 text-center">
  <h2 class="text-3xl font-[Noto_Serif_Display] mb-16 text-center">Want it? We've got it!</h2>
  <div class="flex justify-center items-start flex-wrap md:gap-14 gap-6">
    <CategoryItem imgSrc="/product_categories/meat.png" alt="Meat" label="Meat" />
    <CategoryItem imgSrc="/product_categories/fish.png" alt="Fish" label="Fish" />
    <CategoryItem imgSrc="/product_categories/vegetables.png" alt="Vegetables" label="Vegetables" />
    <CategoryItem imgSrc="/product_categories/fruits.png" alt="Fruits" label="Fruits" />
    <CategoryItem imgSrc="/product_categories/packaged-items.png" alt="Packaged Food" label="Packaged Food" />
    <CategoryItem imgSrc="/product_categories/bakery.png" alt="Bakery" label="Bakery" />
    <CategoryItem imgSrc="/product_categories/household-items.png" alt="Household items" label="Household items" />
  </div>
</section>

