---
import Image from "astro/components/Image.astro";
---

<section class="relative bg-white px-4 sm:px-8 md:px-16 lg:px-24 pt-10 md:pt-16">
    <div class="site-container">
      <div class="flex flex-col md:flex-row gap-10 md:gap-12 items-center md:items-stretch justify-center w-full">
        <!-- Left: Text and Form -->
        <div class="flex-1 flex flex-col justify-center items-center md:items-start text-center md:text-left">
          <h2 class="text-3xl font-[Noto_Serif_Display] mb-4">Join the <span class="special">waitlist</span> today!</h2>
          <p class="mb-6 text-lg text-gray-700 text-balance">Be the first to know when we launch and get exclusive early access offers and features</p>
          <!-- <form class="flex flex-col sm:flex-row gap-4 max-w-md">
            <Input
              label="Email"
              type="email"
              id="waitlist-email"
              name="email"
              placeholder="Enter your email"
              required={true}
              background="light"
              class="flex-1"
            />
          </form> -->
          <a href="https://forms.gle/WtJgGuSuS3KQXJ1LA" target="_blank">
              <button class="min-w-[120px] bg-[#0e5376] hover:bg-linear-to-tl hover:from-[#0E5376] hover:to-[#1AF4FE]  transition-all duration-300 hover:scale-105 origin-left text-white cursor-pointer px-3 py-2 rounded-md text-sm">Join the Waitlist</Button>
          </a>
        </div>
        <!-- Right: Image -->
        <div class="relative aspect-[4/3] overflow-hidden rounded-xl flex-1 flex items-center justify-center w-full max-w-md mx-auto md:mx-0">
          <Image
            src={"/assets/graphic02.png"}
            alt={'Waitlist preview'}
            width={800}
            height={600}
            class="w-full h-full object-contain"
            quality={80}
            format="webp"
          />
        </div>
      </div>
    </div>
  </section> 