---
import Footer from '../components/Footer.astro'
import Navbar from '../components/Navbar.astro'
import './global.css'
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/assets/logo.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Noto+Serif+Display:ital,wght@0,100..900;1,100..900&family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
		
		<title>Daily Bazzar - The Online Marketplace for Local Shopping & Services</title>
		<meta name="description" content="Daily Bazzar is your fresh, fast, and local online marketplace for shopping and home services. Discover convenience, empower vendors, and enjoy fast delivery in your city." />
		<meta name="keywords" content="Daily Bazzar, local shopping, online marketplace, home services, fast delivery, local vendors, convenience, Assam, Jorhat" />
		<meta name="author" content="Daily Bazzar" />
		<meta property="og:type" content="website" />
		<meta property="og:title" content="Daily Bazzar - The Online Marketplace for Local Shopping & Services" />
		<meta property="og:description" content="Fresh, fast, and local! Shop from your neighborhood and get home services delivered quickly with Daily Bazzar." />
		<meta property="og:url" content="https://dailybazzar.com" />
		<meta property="og:image" content="/screenshot.png" />
		<meta property="og:site_name" content="Daily Bazzar" />
		<meta name="twitter:card" content="summary_large_image" />
		<meta name="twitter:title" content="Daily Bazzar - The Online Marketplace for Local Shopping & Services" />
		<meta name="twitter:description" content="Fresh, fast, and local! Shop from your neighborhood and get home services delivered quickly with Daily Bazzar." />
		<meta name="twitter:image" content="/screenshot.png" />
	</head>
	<body class="bg-[#fff] font-hedvig">
		<Navbar />
        <div class="pt-20 md:pt-18">
			<slot />
		<!-- </div> -->
		<Footer />
	</body>
</html>
