@import "tailwindcss";

body {
    font-family: "Urbanist", sans-serif;
}

*::selection {
    background-color: #0e537699;
    color: #fff;
}

.special {
    position: relative;
    z-index: 10;
    /* color: white; */
}

.special::after {
    content: "";
    display: block;
    width: 100%;
    height: 2px;

    background: linear-gradient(to right, #1AF4FE, #0e5376, #1AF4FE);
    border-radius: 2rem;
    position: absolute;
    bottom: 0;
    left: 0;
}